{% extends 'base.html' %}
{% block content %}

<form action="/" method="post">
    {% csrf_token %}
    <span>Query from files</span>
    <select style="min-width:50%" id="file-select" multiple="multiple" name="fileNames">
        {%for file in files%}
        <option selected value="{{file}}">{{file}}</option>
        {%endfor%}
    </select>
    <span> show top <span>
    <input class="button" type="number" name="top" value="10">
    <input class="button" type="submit" value="Submit">
</form>
<br/>
<h4>or Add more file</h4>
<form action="/file-upload" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="id_file">Add a New File:</label>
    <input type="file" name="file" required="" id="id_file">
    <input class="button" type="submit" value="Submit">
</form>
<table class="table is-strip">
    <thead>
    <th>Word(#)</th>
    <th>Documents</th>
    <th>Sentences containing the word</th>
    </thead>
    {%for each in results%}
    <tr>
        <td>{{each.word}}</td>
        <td>{%for filename in each.files%} {{filename}} {%endfor%}</td>
        <td>
            <div style="max-height:100px; overflow:auto">{%for sentence in each.sentences%}<p>{{sentence}}</p>{%endfor%}
            </div>
        </td>
        {{each.in_sentences}}
    </tr>
    {%endfor%}
</table>
<script>
    $('#file-select').select2()



</script>
{% endblock %}